.gitconfig
.ssh
.Xauthority
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.config/.gsd-keyboard.settings-ported
.config/1Password/
.config/BraveSoftware/
.config/KDE/
.config/PlasmaDiscoverUpdates
.config/QtProject.conf
.config/Thunar/
.config/Trolltech.conf
.config/Unknown Organization/
.config/akonadi-firstrunrc
.config/akonadi/
.config/akonadi_akonotes_resource_0rc
.config/akonadi_contacts_resource_0rc
.config/akonadi_ical_resource_0rc
.config/akonadi_indexing_agentrc
.config/akonadi_maildir_resource_0rc
.config/akregatorrc
.config/baloofileinformationrc
.config/baloofilerc
.config/bluedevilglobalrc
.config/chrome-flags.conf
.config/chromium/
.config/dconf/
.config/discoverrc
.config/dleyna-renderer-service.conf
.config/dolphinrc
.config/emaildefaults
.config/emailidentities
.config/evolution/
.config/google-chrome-beta/
.config/google-chrome-unstable/
.config/google-chrome/
.config/goverlay/
.config/gtk-3.0/
.config/gtk-4.0/
.config/gtkrc
.config/gtkrc-2.0
.config/gwenviewrc
.config/kactivitymanagerd-statsrc
.config/kactivitymanagerdrc
.config/kalendaracrc
.config/katerc
.config/kateschemarc
.config/katevirc
.config/kcmfonts
.config/kcminputrc
.config/kconf_updaterc
.config/kde.org/
.config/kdeconnect/
.config/kded5rc
.config/kdedefaults/
.config/kdeglobals
.config/kglobalshortcutsrc
.config/khotkeysrc
.config/khtml/
.config/kinfocenterrc
.config/kmail2rc
.config/kmixrc
.config/konq_history
.config/konquerorrc
.config/konsolerc
.config/konsolesshconfig
.config/krunnerrc
.config/kscreenlockerrc
.config/ksmserverrc
.config/ktimezonedrc
.config/kwalletrc
.config/kwinrc
.config/kwinrulesrc
.config/kwritemetainfos
.config/kwriterc
.config/kxkbrc
.config/libaccounts-glib/
.config/libreoffice/
.config/menus/
.config/microsoft-edge-dev/
.config/mimeapps.list
.config/monitors.xml
.config/monitors.xml~
.config/nautilus/
.config/neofetch/
.config/nwg-bar/
.config/nwg-wrapper/
.config/okularpartrc
.config/pamac/
.config/pavucontrol.ini
.config/plasma-localerc
.config/plasma-org.kde.plasma.desktop-appletsrc
.config/plasmanotifyrc
.config/plasmarc
.config/plasmashellrc
.config/powerdevilrc
.config/powermanagementprofilesrc
.config/pulse/
.config/session/
.config/specialmailcollectionsrc
.config/spectaclerc
.config/sway.orig/
.config/systemsettingsrc
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vivaldi-snapshot/
.config/vivaldi/
.config/waybar.orig/
.config/webengineurlinterceptoradblockrc
.config/xdg-desktop-portal-kderc
.config/xfce4/
.config/xsettingsd/
.gnome/
.gnupg/
.gtk-bookmarks
.gtkrc-2.0
.histfile
.lazarus/
.local/
.mozilla/
.oh-my-zsh/
.p10k.zsh
.pki/
.var/
.wget-hsts
.zcompdump
.zcompdump-mir-arch-5.9
.zcompdump-mir-arch-5.9.zwc
.zsh_history
.zshrc.grml
.zshrc.pre-oh-my-zsh
Desktop/
Downloads/
dev/
zshrc
.config/sway/wallpapers/*
.config/systemd/
.config/plasma-welcomerc
.config/plasmaparc
.config/sway/config.save
.config/trashrc
.config/PlasmaUserFeedback
.config.bkup/
.profile
.sudo_as_admin_successful
.zcompdump-mir-thinkpad-ubuntu-5.8.1
.zcompdump-mir-thinkpad-ubuntu-5.8.1.zwc
.zshrc.bkup
snap/
.config/enchant/
.lesshst
